<div class="row">
  <div class="span12 gist-container">
    <div class="gist-info">
      <h3>{{description}}</h3>
      <a class="gist-link" href="{{url}}">gist {{id}}</a>
    </div>
    <div class="files-container">
    </div>
  </div>
  <hr/>
</div>
